*{
    margin: 0;
    padding: 0;


}
.container{
    color: solid black;
}
p{
    display: inline-block;
}
.nitkri{
    width: 200px;
}


table>input{
    border: 0;
}

table,th,td{
    border: 3px solid black;
    border-collapse: collapse;
}
form{
    margin: 20px;
}
table{
    margin-top: 10px;
    margin-bottom: 10px;
}
.tyu{
    font-weight: 700;
}
h1{
    text-align: center;
}
#rew{
    text-align: center;
}




































*/* *{
    margin: 0;
    padding: 0;
}
body{
    font-size: large;
}
h2{
    text-align: center;
}
p{
    display: inline-block;
}
lebel{
    display: inline-block;
    width: 250px;
} 
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;

}
td,th{
    width: 170px;
}
.container{
    height: auto;
    width: auto;
} */